<div class="container">
    <div class="list-container">
        <div class="add-item-container">
            <input type="text" class="user-input" placeholder="add todo's" #inpt
            (keyup.enter)="addItemFunc(inpt.value) ; inpt.value=''">
            <div class="add-todo">
              <button (click)= "addItemFunc(inpt.value) ; inpt.value='' " class = "add fas fa-plus-circle"></button>  
            </div>
        </div>
        <ul class="todo-list">
            <li *ngFor= "let item of todos ; let i = index" class="todo-list-item">
                {{item}}
                <button (click)="deleteItemFunc(i)" class = "trash fas fa-trash-alt" ></button> 
            </li>
        </ul>
    </div>
    <button (click)="clearLSFunc()" class = "clearLS">Clear Local Storage</button>
</div>